*{ 
    margin: 0; 
    padding: 0;
}

@font-face{
    font-family: wisdom;
    src: url('font.otf');
}

@font-face{
    font-family: oswald;
    src: url('oswald.otf');
}

body{ 
    font: 15px 'Helvetica', Arial, sans-serif;
    background:#efede8;
    width:100%;
}

body, html{ 
    height: 100%; 
}

#nav-bar{
    width: 100%;
    height: 50px;
    background-color: #fafaf8;
    position: fixed;
    top: 0px;
}

#inner-nav-bar{
    width: 960px;
    margin: 5px auto;
}

h1#heading{
    font-family:"oswald";
    font-weight: normal;
    font-size: 23px;
    height: 42px;
    color: #2d2d2d;
    display: inline;
}

h1#heading a{
    text-decoration: none;
    color: #2d2d2d;
}

h2{
    color: #2d2d2d;
    font-family:"wisdom";
    font-weight: normal;
    width: 1035px;
    margin: 0 auto;
}

ul#menu{
    list-style: none;
    display: inline;
    float: right;
    margin-top: 8px;
}

ul#menu li{
    display: inline;
    margin: 0 5px 0 5px;
}

ul#menu li a{
    text-decoration: none;
    font-family: "oswald";
    color: #2d2d2d;
}

#inner-content{
    width: 960px; 
    margin: 0 auto 0 auto;
    padding-bottom: 80px;
}

.form{
    width: 100%;
    position: fixed;
    top: 50px;
    background-color: #68bea7;
    height: 60px;
}

.form select{
    display: inline;
}

form{
    width: 960px;
    margin: 0 auto;
}

form label{
    font-family: "oswald";
}

.select-container{
    margin: 10px 15px 10px 0; 
    float: left;
}

select{
    width: 150px;
}

#svg{
    margin-top: 130px;
}

#photo{
    position: absolute;
    top: 130px;
    left: 1000px;
    max-width: 60px;
}

.map{
    width: 960px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-left: 40px;
}

.last-element{
    padding-bottom: 55px;
}

#info{
    width: 100%;
    background-color: #fafaf8;
    position: fixed;
    bottom: 0px;
    padding: 10px 0 10px 0;
}

#info-text{
    width: 960px;
    margin: 0 auto;
    padding-right: 75px;
}

.thumb{
    width: 100px;
    height: 140px;
    position: absolute;
    bottom: -8px;
    right: 60px;
    border: 8px solid #68bea7;
}

#text{
    color : #b4b5b6;
}

.placeholder{
    color: #a6a6a6;
    font-style: italic;
    font-size: .8em;
}